<div class="row">
    <div class="col-md-12 text-right">
        <a href="/productos" class="btn btn-primary">Ver productos</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" action="productos">
            
                <div class="row">
                    <div class="col-6">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="col-6">
                        <label>Precio</label>
                        <input type="text" class="form-control" name="price">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <label>URL Thumbs</label>
                        <input type="text" class="form-control" name="thumbnail">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-primary mt-3" value="Enviar">
                    </div>
                    
                </div>
           
            
        </form>
    </div>
</div>
