.listaMensajes{height: 300px; overflow-y: scroll;width: 100%;}
.listaMensajes .msj{width: 100%; padding: 7px; background-color:#fff;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.listaMensajes .msj .autor{font-weight: 700;color: blue;}
.listaMensajes .msj .fecha{font-size: 12px;color: brown;}
.listaMensajes .msj .mensaje{color: green;font-style: italic;}
.contentform{background-color: #F5F0E7; padding: 10px;}