<div class="col-md-8 offset-md-2">
    <div class="contentform card shadow p-5">
        <form id="frmlogin" method="post" action="login" name="frmlogin">
            <div class="row">
                <div class="col-12">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" class="btn btn-primary mt-3" value="Enviar">
                </div>
            </div>
            
        
        </form>
    </div>
    
</div>